<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>chat</title>
	<!-- socket.io CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

	<!-- jQuery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Bootstrap CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
				<a class="navbar-brand" href="/welcome"><span
				class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/file">file</a></li>
					<li><a href="/chat">chat</a></li>
					<li><a href="/my">my</a></li>
					<li><a href="/signout">signout</a></li>
					<% if (!user) { %>
						<li><a href="/signin">signin</a></li>
						<li><a href="/signup">signup</a></li>
					<% } %>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	
	<div class="container">
		<div class="jumbotron" style="width: 50%; margin: auto;">
			<div class="row">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;chat (<span id="user-count"></span>)
					</div>
					<div class="panel-body" style="word-break: break-all; word-wrap: break-word; height: 300px; overflow: auto;">
						<ul class="chat" style="list-style: none;">
							<h4>welcome to chat service.</h4>
							<hr />
						</ul>
					</div>
					<div class="panel-footer">
						<div class="input-group">
<!--
							<select class="form-control" id="select-box">
							  <option>all</option>
							</select>
-->
							<input id="select-box" type="text" class="form-control " placeholder="whisper who?" autofocus>
							<input id="btn-input" type="text" class="form-control " placeholder="type your message." autofocus>
							<span class="input-group-btn">
                            <button class="btn btn-warning btn" id="btn-chat">
                                send</button>
                        </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="user-email" value="<%= user.email %>">
	<input type="hidden" id="user-nickname" value="<%= user.nickname %>">
</body>
<script>
	$(() => {
		const socket = io.connect();

		socket.emit('login', {
			email: $('#user-email').val(),
			nickname: $('#user-nickname').val()
		});

		socket.on('login', data => {
			$('.chat').append(`<li style="color: red;"><span class="whisper" style="cursor: pointer"><strong>${ data }</strong></span> has joined.</li>`);
		});
		
		$('#btn-chat').click(() => {
			if ($('#btn-input').val().length === 0) {
				alert('input more than 1 words.');
			} else {
				if ($('#select-box').val() === 'all') {
					socket.emit('chat', {
						to: 'all',
						message: $('#btn-input').val()
					});
					$('#btn-input').val("");
				} else {
					socket.emit('chat', {
						to: $('#select-box').val(),
						message: $('#btn-input').val()
					});
					$('#btn-input').val("");
				}
			}
		});
		
		socket.on('chat', data => {
			if (data.from.email === $('#user-email').val()) {
				$('.chat').append(`<li style="color: blue;"><span style="cursor: pointer"><strong>${ data.from.nickname }</span></strong>: ${ data.message }</li>`);
//				$('.panel-body').scrollTop(0);
//				console.log('master');
			} else {
				$('.chat').append(`<li><strong><span class="whisper" style="cursor: pointer">${ data.from.nickname }</span></strong>: ${ data.message }</li>`);
//				$('.panel-body').scrollTop(0);
//				console.log('slave');
			}
		});
		
		socket.on('whisper', data => {
			$('.chat').append(`<li style="color: gray;"><strong><span class="whisper" style="cursor: pointer">${ data.from.nickname }'s whisper: </span></strong>${ data.message }</li>`);				
		});
		
		socket.on('logout', data => {
			$('.chat').append(`<li style="color: red;"><span style="cursor: pointer"><strong>${ data }</strong></span> has left.</li>`);
		});
		
		$('#btn-input').keydown(key => {
			if (key.keyCode === 13) {
				if ($('#btn-input').val().length === 0) {
					alert('input more than 1 words.');
				} else {
					if ($('#select-box').val() === 'all') {
						socket.emit('chat', {
							to: 'all',
							message: $('#btn-input').val()
						});
						$('#btn-input').val("");
					} else {
						socket.emit('chat', {
							to: $('#select-box').val(),
							message: $('#btn-input').val()
						});
						$('#btn-input').val("");
					}
				}
			}
		});
	});
</script>
</html>