<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>file upload</title>
	<!-- jQuery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Bootstrap CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
				<a class="navbar-brand" href="/welcome"><span
				class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/file/list">file list</a></li>
					<li><a href="/file/upload">file upload</a></li>
					<li><a href="/chat">chat</a></li>
					<li><a href="/my">my</a></li>
					<li><a href="/signout">signout</a></li>
					<% if (!user) { %>
						<li><a href="/signin">signin</a></li>
						<li><a href="/signup">signup</a></li>
					<% } %>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="jumbotron">
				<h2 style="text-align: center;">file upload</h2>
				<a href="/file/list" class="btn btn-default" role="button">list</a>
				<hr>
				<form action="/file/upload", method="post", enctype="multipart/form-data">
					<div class="form-group">
						<label for="file">file input</label>
						<input type="file" name="file">
					</div>
					<button type="submit" class="btn btn-primary">submit</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>